* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: 'farm-background.jpg'; 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column; 
    width: 40%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px; 
}

.welcome {
    color: #333;
    font-size: 2em;
    margin: 0 auto 20px;
    letter-spacing: 2px;
    text-align: center;
    font-family: monospace;
    width: 28ch;
    animation: typing 7s steps(28) forwards infinite, blink .7s step-end infinite alternate;
    white-space: nowrap; 
    overflow: hidden; 
    border-right: 3px solid; 
}

@keyframes typing {
    0%, 90%, 100% {
        width: 0;
    }
    30%, 60% {
        width: 32ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.form-container {
    flex: 1;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Primary button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Darker shade on hover #4CAF50*/ 
}

.error-message {
    color: #ff0000;
    margin-bottom: 10px;
    text-align: center;
}

.success-message {
    color: #008000;
    margin-bottom: 10px;
    text-align: center;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: #4CAF50; /* Link color */
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline; /* Underline on hover */
}